/*BEGIN PS4 Controller Styling*/

.controller.ds4{
  background: url(https://i.imgur.com/i81ERHE.png);
}

.ds4 .face{
  background: url(https://i.imgur.com/eQ9MInl.png);
}

.ds4 .stick{
  background: url(https://i.imgur.com/qjjx8Fh.png);
}

.ds4 .bumper{
  background: url(https://i.imgur.com/vUf6ITT.png);
}

.ds4 .trigger{
  background: url(https://i.imgur.com/Taf8BVu.png);
}/*https://i.imgur.com/zlPIbWm.png*/

.ds4 .back, .ds4 .start{
  background: url(https://i.imgur.com/nmp8ySw.png);
}

.ds4 .button{
  background: url(https://i.imgur.com/izgRzhl.png);
}

.ds4 .b {
    background-position: -57px 0;
}

.ds4 .x {
    background-position: -113px 0;
}

.ds4 .y {
    background-position: 55px 0;
}

.ds4 .touchpad.pressed {
    background: url(https://i.imgur.com/v5121pK.gif) no-repeat center;
}

.ds4 .meta.pressed {
    background: url(https://i.imgur.com/xN0fxzD.png) no-repeat center;
}
